.content{
    width: 960px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #ffffff;
    border: 3px solid #dddddd;
    align-content: center;
    margin: 30px auto;
    padding: 0 20px 10px 20px;
    height: 100%;
    clear:both;


}
body{
    background-image: url("../images/img10.jpg");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0;
    padding: 0;

}
header{
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    font-family:'Georgia', Times, "Times New Roman", serif;
    margin: 0;
    height: 82px;
}

footer{
    background-color: #666666;
    color: #ffffff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    border-top:  10px solid #4aaaa5;
    height: 60px; 
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
      
}
#Title{
    color: #4aaaa5;
    font-size: 40px;
    padding: 25px 10px;
    margin: 0px 0px 20px 0;
    text-align: left;
    border-bottom: 3px solid #cccccc;
    font-weight: bold;
    font-family:'Georgia', Times, "Times New Roman", serif;

}

#img1{
    float: left;
    margin-right: 20px;
}
p{
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    padding: 5px;
    margin: 0px;
}
.images{
    width: 750px;
    align-content:left;
    padding: 0 25px 0 0;
}

img{
    padding: 0 25px 25px 0;
    margin: 0;
}

#Name{
   font-size: 20px;
   text-align: center;
   padding: 1.5em 0;
   margin: 0;
   color: #ffffff;
   background: #4aaaa5;
   width: 200px;
   float: left ;
}
.Button{
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin: 2em 0;
    color: grey;
    width: 100px;
    float: right ;
    border-right: 1px solid lightgray;
}
Nav{
    width: 1000px;
    margin: auto; 
}

input{
    width: 100%;
}

form{
    line-height: 1.5; 
} 

a:link {
    color: grey;
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin: 25px 0 ;
}

#message1{
    min-block-size: 200px;
}

#foottext{
    position: fixed;
    bottom: 0;
    left: 50%;
    font-size: 15px;
}